body {
  /* background: #2b1d11; */
  /* background-image: url("../hd-background.jpg"); */
  /* margin: 0; height: 100%; overflow: hidden */
}

html { 
  background: url("../hd-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.generate-chat-container {
  display: flex;
  align-self: center;
  justify-content: center;
  /* align-items: center; */
  margin: 50vh;
  flex-direction: column;
}

.main-container {
  
}